- type: job
  id: NanotrasenRepresentative
  name: представитель НаноТрейзен
  description: "Представляйте NT, отправляйте им отчеты о ситуации на станции, информируйте главу обо всем, что приказывает им сделать Центком."
  playTimeTracker: JobNanotrasenRepresentative
  requirements:
    - !type:DepartmentTimeRequirement
      department: Command
      time: 180000  #50 hours
    - !type:AgeRequirement
      requiredAge: 21
  weight: 20
  startingGear: NanotrasenRepresentativeGear
  icon: "JobIconNanotrasenRepresentative"
  requireAdminNotify: true
  joinNotifyCrew: true
  supervisors: job-supervisors-centcom
  canBeAntag: false
  access:
  - Security
  - Brig
  - External
  - Cryogenics
  - Maintenance
  - Engineering
  - Medical
  - Research
  - Command
  - CentralCommand
  - Service
  - Hydroponics
  - Kitchen
  - Cargo
  - Theatre
  - NanotrasenRepresentative
  special:
  - !type:AddImplantSpecial
    implants: [ MindShieldImplant ]
  - !type:AddComponentSpecial
    components:
      - type: CommandStaff

- type: startingGear
  id: NanotrasenRepresentativeGear
  equipment:
    id: CentcomPDA
    ears: ClothingHeadsetAltCentCom
    pocket1: UniqueNanorepLockerTeleporter
  storage:
    back:
    - Flash
    - TelescopicBaton # Goobstation
